.blog-card{
    background-color: white;
    border-radius: 15px;
}
.blog-img{
    width: 400px;
    border-radius: 15px;
}
.blog-img:hover{
    transform: scale(1.1);
}
.blog-tag{
        background-color: tan;
}
.author-img{
    width: 80px;
    border-radius: 50%;
    position: relative;
    top: -6px;
}